@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    display: block;
    justify-content: center;
    place-items: center;
    background-image: url(imagens-background/pexels-lukas-kloeppel-466685.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.texto {
    margin: 20px;
}

div.texto > h1 {
    width: 250px;
    color: red;
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    animation: text 4s linear infinite ;
}

form {
    background-image: linear-gradient(to bottom, #A338E7, #9059F0,  #7C75F4);
    text-align: left;
    line-height: 70px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    opacity: .8;
}

label {
    width: 50%;
    border: none;
    margin-left: 19%;
}

input {
    width: 100%;
    margin-right: 20%;
}

div.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

div.conteudo > input[type=submit] {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding: 10px 20px;
    background-color: #A338E7;
    border-radius: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

p{
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

p#fim {
    color: red;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}

@keyframes text {
    0%{
    width: 0px;
    height: 0px;
    }

    25% {
        width: 30px;
        height: 00px;
    }

    50%  {
        width: 80px;
        height: 0px;
    }

    75% {
        width: 100px;
        height: 0px;
    }

    100% {
        width: 0px;
        height: 0px;
    }
}




    


